<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Remember to change this!!! -->
    <title>Leigh - Sport</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  </head>
<!-- NAVBAR ** do not change this part.
================================================== -->
  <body>
    <div class="navbar-wrapper" id='home'>
      <div class="container">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="rachel.html">Rachel</a></li>
                <li><a href="leigh.html">Leigh</a></li>
                <li><a href="guzide.html">Güzide</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel ** start changing the contents here and onwards!
    ================================================== -->
    <div id="openingpic" class="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <!-- Change here for the background image. -->
          <img class="first-slide" src='images/playing.jpg' alt='Titlepic'>
          <div class="container">
            <div class="carousel-caption">
              <h1>I'm Leigh and I love sport.</h1>
              <p> I've been running around in the name of sport for the last 15 years. It started with football which turned to futsal and now I play rugby twice a week. Here are some amazing sportswomen that have inspired me.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7" id='originals'>
          <h2 class="featurette-heading"><a href="https://youtu.be/1NfZlD4U_cA">The Jamaican Women's Football Team. </a><span class="text-muted">Aka the Reggae Girlz.</span></h2>
          <p class="lead">2019 World Cup qualifiers. <span class="text-muted">After a 6 year hiatus from 2008 - 2014, the Reggae Girlz came back stronger than ever. Funded by Bob Marley's foundation, the Jamaican national team beat Panama in Texas in October to become the first Carribean team in history to qualify for the Women's World Cup.</span></p>

        </div>
        <div class="col-md-5">
          <!-- Make sure the picture here is rectangular so it looks pretty, unless you have a lot to write about lol-->
          <img class="featurette-image img-responsive center-block img-rounded" src="images/Jamaica.jpg" alt="Jamaica">

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><a href="http://rocky1.co.uk/">Rochelle Clark.</a> <span class="text-muted">Aka Rocky.</span></h2>
          <p class="lead">With 137 caps, she is the most capped player in England international history, including both men and women. Her international career spanned over 15 years including 3 world cups finals, and a world cup win in 2014. In 2015 Clark was appointed Member of the Order of the British Empire (MBE) for her services to rugby. Imagine being that good.</span></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="images/clark.jpg" alt="Clark">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" id='covers'>
          <h2 class="featurette-heading"> <a href="http://www.dickkerrladies.com/index.htm"> Dick, Kerr Ladies.</a> <span class="text-muted">Aka Preston Ladies 1917-65.</span></h2>
          <p class="lead">Originally named after their munitions factory during the war effort these ladies would go on to become one of the most successful teams in Women's football history. <span class="text-muted"></span>They played 300 games undefeated and hold the record for highest attendance to a women's football club match with 53,000 attendees (an additional 10,000 were waiting outside the stadium). Even after the FA banned females from playing football in England (yep they really did that and for 50 years) the Dick, Kerr Ladies continued to attract 10,000 spectators per game by touring in America against professional mens teams.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="images/ladies.jpg" alt="Ladies">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
  </body>
</html>
