<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rachel - Music</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper" id='home'>
      <div class="container">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="rachel.html">Rachel</a></li>
                <li><a href="leigh.html">Leigh</a></li>
                <li><a href="guzide.html">Güzide</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="openingpic" class="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="first-slide" src='images/ryan-holloway-273158.jpg' alt='Titlepic'>
          <div class="container">
            <div class="carousel-caption">
              <h1>I'm Rachel and I sing once in a while.</h1>
              <p>And here you can find some sad music, some of which I wrote, others are covers. Hope you enjoy.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel -->

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7" id='originals'>
          <h2 class="featurette-heading">The Norwegian Bird. <span class="text-muted">An original song.</span></h2>
          <p class="lead">It's a sad love song written in times of insecurity and doubt. <span class="text-muted">"Broken words, broken hearts, half drunk wine and empty cups. Close the curtains, don’t let the light in. Clasping hands, shivering bones, sound of opening and slamming doors..."</span></p>
          <audio controls>
            <source src="audio/TheNorwegianBird.mp3" type="audio/mpeg">
          </audio>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="images/norwegianbird.jpeg" alt="Norwegian Birds">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Candle House. <span class="text-muted">Another original song.</span></h2>
          <p class="lead">A song I wrote after hearing the story of my parents, how they fell in love, got married, and then stayed in an unintentional, stagnant, loveless silence for several years before they peacefully divorced. <span class="text-muted">I want to show that almost disturbing serenity, the delicate balance of hope and despair as their relationship tended towards an end, a state where there is either complete darkness, or intense fire that burns the house down, thus came the title, Candle House.</span></p>
          <audio controls>
            <source src="audio/CandleHouse.mp3" type="audio/mpeg">
          </audio>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="images/candlehouse.jpg" alt="Candle House">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" id='covers'>
          <h2 class="featurette-heading">Hide and Seek. <span class="text-muted">A cover of the Imogen Heap song.</span></h2>
          <p class="lead">I tried to turn Imogen Heap's beautiful vocal harmonies into guitar accompaniment. Hope I didn't ruin the song. <span class="text-muted">"Oily marks appear on walls where pleasure moments hung before. The takeover, the sweeping insensitivity of this still life..."</span></p>
          <audio controls>
            <source src="audio/HideandSeek.mp3" type="audio/mpeg">
          </audio>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="images/hideandseek.jpg" alt="Hide and Seek">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
  </body>
</html>
