/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@import url('https://fonts.googleapis.com/css?family=Astloch|Averia+Serif+Libre|Cardo|Fredericka+the+Great|Metamorphous');

/* Trying out different fonts
font-family: 'Astloch', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Cardo', serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Metamorphous', cursive;
*/

body {
  padding-bottom: 40px;
  color: #EEEEEE;
  background: #000015;
  font-family: 'Cardo', serif;
}

* {
	cursor: url("../images/sword.cur"), default;
}

/* This needs fixing, media action not working */

@media screen and (max-width: 1000px) {
  .carousel-caption h1 {
    font-size: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .carousel-caption p {
    font-size: 5px;
  }
}
