/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*font-family: 'Germania One', cursive;
font-family: 'Yeseva One', cursive;
font-family: 'Averia Serif Libre', cursive;
font-family: 'Seaweed Script', cursive;
font-family: 'Uncial Antiqua', cursive;*/

@import url('https://fonts.googleapis.com/css?family=Germania+One|Metamorphous|Uncial+Antiqua');

body {
  background-color: #000000;
  padding-bottom: 40px;
  color: #ffffff;
  font-family: 'Metamorphous', cursive;
}

body {
	background-image: url("https://www.ihasco.co.uk/uploads/programmes_feature_images/Fire-Awareness-Training-cover.jpg");
}

* {
	cursor: url("../images/sword.cur"), default;
}

a {
color: #ffffff;
}

#options {
	padding-top: 50px;
}
@media screen and (max-width: 1000px) {
  .carousel-caption p {
    font-size: 5px;
  }
}

/* CSS animation */

h2 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
