<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A story about the dragon and the brave</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  </head>
  <body>
    <div id="text">
        <h1>You have been stripped of your knighthood and kicked out of your village. The only way to regain your honour is to free the princess.</h1>
        <h2><button type="button" class="btn"><a href="1-yeschallenge.html">Accept the challenge.</a></button></h2>
        <h2><button type="button" class="btn"><a href="gameover.html">Do not accept the challenge.</a></button></h2>
    </div>
    <div id="image">
        <img src="../static/images/1dragon.jpg" alt="Dragon">
    </div>
</body>
</html>