<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our HTML Group Project</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  </head>
  <body>
    <div id="text">
        <div id="gameover">
            <h1>Reason for game over</h1>
        </div>
        <h1>Game Over</h1>
        <h2><button type="button" class="btn"><a href="index.html">Play again?</a></button></h2>
    </div>
    <div id="image">
        <img src="../static/images/1dragon.jpg" alt="Dragon">
    </div>
</body>
</html>