<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our HTML Group Project</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  </head>
  <body>
    <div id="text">
        <h1>A dragon has laid siege to the Kingdom. It has kidnapped the princess and has imprisoned her in his cave. As one of the brave kingdom knights, your task is to rescue the princess.</h1>
        <h1>Do you accept your challenge?</h1>
        <h2><button type="button" class="btn"><a href="1-yeschallenge.html">Yes.</a></button></h2>
        <h2><button type="button" class="btn"><a href="1-nochallenge.html">No.</a></button></h2>
    </div>
    <div id="image">
        <img src="../static/images/1dragon.jpg" alt="Dragon">
    </div>
</body>
</html>