<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our HTML Group Project</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper" id='home'>
      <div class="container">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="rachel.html">Rachel</a></li>
                <li><a href="leigh.html">Leigh</a></li>
                <li><a href="guzide.html">Güzide</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="openingpic" class="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="first-slide" src='../static/images/karl-jk-hedin-482509-unsplash.jpg' alt='Titlepic'>
          <div class="container">
            <div class="carousel-caption">
              <h1>This is for our HTML group project.</h1>
              <p>We didn't have anything in our lives worthy of its own website so we put all our distinct interests into this one hotchpotch of a website and called it a day. It's cute though you should check it out.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /.carousel -->

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7" id='originals'>
          <h2 class="featurette-heading"><a href="rachel.html">Rachel Duan.</a> <span class="text-muted">Second Title</span></h2>
          <p class="lead">First paragraph</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="../static/images/rachel.jpg" alt="Rachel Image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"><a href="leigh.html">Leigh Rowland.</a> <span class="text-muted">Second Title</span></h2>
          <p class="lead">First paragraph </p>
          <p class="lead">Second paragraph </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block img-rounded" src="../static/images/leigh.jpg" alt="leigh">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7" id='covers'>
          <h2 class="featurette-heading"><a href="guzide.html">Guzide Sofi.</a><span class="text-muted">Second Title</span></h2>
          <p class="lead">First paragraph</p>

          <p class="lead">Second paragraph</p>

          <p class="lead">Third paragraph
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block img-rounded" src="../static/images/guzide.jpg" alt="guzide">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
  </body>
</html>
