<!DOCTYPE html>
<html lang="en">
<embed id="audiofunction" src="../static/music/dragon_music.mp3" autostart="true" loop="true" width="2" height="0">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A story about the dragon and the brave</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/custom.css">
  </head>
  <body>
    <div class="container">
    	<div class="row">
			<div class="col-sm">
			    <div id="image">
			        <img src="../static/images/dragon_flying.gif" class="img-fluid" alt="Dragon">
			    </div>
			</div>
    		<div class="col-lg">
		    	<div id="text">
			        <h2>A dragon has laid siege to the Kingdom. It has kidnapped the princess and has imprisoned her in his cave. As one of the brave kingdom knights, your task is to rescue the princess.</h2>
			        <h2>Do you accept your challenge?</h2>
			        <h2><button type="button" class="btn btn-dark"><a href="1-yeschallenge">Yes.</a></button></h2>
			        <h2><button type="button" class="btn btn-dark"><a href="1-nochallenge">No.</a></button></h2>
			    </div>
			</div>
		</div>
	</div>
  </body>
  <!-- <audio controls autoplay>
     <source src="../static/music/dragon_music.mp3" />
     <p>If you are reading this, it is because your browser does not support the audio element.</p>
  </audio> -->
</html>
